In [44]:

import pandas as pd


dfparam = pd.read_csv("data/param.csv")


countries=dfparam.country
popEst = pd.read_csv("data/WPP2019_TotalPopulationBySex.csv")

popEst['popTotal']=pd.to_numeric(popEst.PopTotal, errors='coerce').astype(int)

display(popEst)

display(dfparam)

for country in countries:
    if country=="US":
        country2="United States of America"    
    else:
        country2=country
    dfparam.loc[dfparam.country==country,'popTotal']=popEst.loc[popEst.Location==country2].loc[popEst.Time==2020].iloc[0,8]*1000
    dfparam.loc[dfparam.country==country,'s0']=popEst.loc[popEst.Location==country2].loc[popEst.Time==2020].iloc[0,8]*1000*0.3
    
display(dfparam)

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity,popTotal
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874,7752
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009,7840
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156,7935
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315,8039
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486,8151
...,...,...,...,...,...,...,...,...,...,...,...
280927,716,Zimbabwe,207,Lower 95 PI,2080,2080.5,10576.533,11255.983,21836.893,56.448,21836
280928,716,Zimbabwe,207,Lower 95 PI,2085,2085.5,10293.349,11050.875,21355.988,55.205,21355
280929,716,Zimbabwe,207,Lower 95 PI,2090,2090.5,9920.336,10767.709,20689.956,53.483,20689
280930,716,Zimbabwe,207,Lower 95 PI,2095,2095.5,9503.711,10412.184,19892.080,51.421,19892
280931,716,Zimbabwe,207,Lower 95 PI,2100,2100.5,9090.075,9996.105,19061.177,49.273,19061

,country,start-date,prediction-range,s0,e0,a0,i0,r0,d0,START,WCASES,WREC
0,Brazil,3/2/20,200,10000000.0,0.0001,0.0001,200,100,50,50,0.15,0.05
1,China,1/28/20,200,50000.0,0.0001,0.0001,200,100,50,50,0.15,0.05
2,Italy,2/28/20,200,2000000.0,0.0001,0.0001,200,100,50,50,0.15,0.05
3,US,2/20/20,200,20000000.0,0.0001,0.0001,200,100,50,50,0.15,0.05
4,India,3/10/20,200,10000000.0,0.0001,0.0001,200,100,50,50,0.15,0.05

,country,start-date,prediction-range,s0,e0,a0,i0,r0,d0,START,WCASES,WREC,popTotal
0,Brazil,3/2/20,200,63767822.7,0.0001,0.0001,200,100,50,50,0.15,0.05,2.125594e+08
1,China,1/28/20,200,431797132.2,0.0001,0.0001,200,100,50,50,0.15,0.05,1.439324e+09
2,Italy,2/28/20,200,18138548.4,0.0001,0.0001,200,100,50,50,0.15,0.05,6.046183e+07
3,US,2/20/20,200,99300794.1,0.0001,0.0001,200,100,50,50,0.15,0.05,3.310026e+08
4,India,3/10/20,200,414001315.5,0.0001,0.0001,200,100,50,50,0.15,0.05,1.380004e+09